<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="{{ title }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../../styles/common.css" />
    <link rel="stylesheet" href="../../styles/blogpost.css" />
    <link rel="stylesheet" href="../../styles/prism-theme.css" />
    <!-- Google Analytics -->
    <script>
      window.ga =
        window.ga ||
        function () {
          (ga.q = ga.q || []).push(arguments);
        };
      ga.l = +new Date();
      ga('create', 'UA-148608259-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
    <!-- End Google Analytics -->
  </head>
  <body>
    <div class="container post-container">
      <header>
        {% include blogheader %}
        <h1>{{ title }}</h1>
        <span class="post-date">{{ date | date: '%b %d %Y' }}</span>
      </header>
      <div class="content">
        {{ content }}
      </div>
      <div class="back-link">
        <a href="/">← Back</a>
      </div>
    </div>
  </body>
</html>
