<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>

    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ siteMeta.author.name }}" />

    <!-- Primary Meta Tags -->
    <meta name="title" content="{{ title }}" />
    <meta name="description" content="{{ title }}" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ siteMeta.url }}/posts/mnml-new-tab/" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ title }}, A post by {{ siteMeta.author.name }}" />
    <meta property="og:image" content="{{ siteMeta.url }}/assets/images/profile.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ siteMeta.url }}/posts/mnml-new-tab/" />
    <meta property="twitter:title" content="{{ title }}" />
    <meta property="twitter:description" content="{{ title }}, A post by {{ siteMeta.author.name }}" />
    <meta property="twitter:image" content="{{ siteMeta.url }}/assets/images/profile.png" />

    <link rel="stylesheet" href="../../styles/common.css" />
    <link rel="stylesheet" href="../../styles/blogpost.css" />
    <link rel="stylesheet" href="../../styles/prism-theme.css" />

    {% if meta.hindiBody or meta.hindiTitle %}
    <!-- Load hindi font only if post contains hindi text or title -->
    <link href="https://fonts.googleapis.com/css2?family=Cambay&display=swap" rel="stylesheet" />
    {% endif %}

    <!-- Analytics -->
    <script data-goatcounter="https://arpitbatra123.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <!-- End Analytics -->
  </head>
  <body>
    <div class="container post-container">
      <header class="blog-header">
        {% include top-bar %} {% if meta.hindiTitle %}
        <h1 class="hindi-font">{{ title }}</h1>
        {% else %}
        <h1>{{ title }}</h1>
        {% endif %}
        <span class="post-date">{{ date | date: '%b %d %Y' }}</span>
      </header>
      <div class="content">
        {{ content }}
      </div>
      <div class="back-link">
        <a href="/">← Back</a>
      </div>
    </div>
  </body>
</html>
