<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Primary Meta Tags -->
    <title>Arpit Batra</title>
    <meta name="title" content="Arpit Batra" />
    <meta name="description" content="The personal website of Arpit Batra, a software developer and hobbyist writer." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{siteMeta.url}}/" />
    <meta property="og:title" content="Arpit Batra's website" />
    <meta
      property="og:description"
      content="The personal website of Arpit Batra, a software developer and hobbyist writer."
    />
    <meta property="og:image" content="{{siteMeta.url}}/assets/images/profile.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{siteMeta.url}}/" />
    <meta property="twitter:title" content="Arpit Batra's website" />
    <meta
      property="twitter:description"
      content="The personal website of Arpit Batra, a software developer and hobbyist writer."
    />
    <meta property="twitter:image" content="{{siteMeta.url}}/assets/images/profile.png" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./styles/common.css" />
    <link rel="stylesheet" href="./styles/homepage.css" />
    <!-- Google Analytics -->
    <script>
      window.ga =
        window.ga ||
        function () {
          (ga.q = ga.q || []).push(arguments);
        };
      ga.l = +new Date();
      ga('create', 'UA-148608259-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
    <!-- End Google Analytics -->
  </head>

  <body>
    <div class="container">
      <h2 class="name">Arpit Batra</h2>
      {{ content }}
      <h3 class="category">Posts</h3>
      <ul class="posts">
        {% for post in collections.posts reversed %}
        <li class="post">
          <span class="post-title">
            <a href="{{ post.url }}">{{ post.data.title }}</a>
          </span>
          <span class="post-date">
            {{ post.date | date: '%b %Y' | downcase }}
          </span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
