<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ siteMeta.author.name }}" />

    <!-- Primary Meta Tags -->
    <title>{{ siteMeta.author.name }}</title>
    <meta name="title" content="{{ siteMeta.author.name }}" />
    <meta name="description" content="{{ siteMeta.description }}" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ siteMeta.url }}/" />
    <meta property="og:title" content="{{ siteMeta.author.name }}" />
    <meta property="og:description" content="{{ siteMeta.description }}" />
    <meta property="og:image" content="{{ siteMeta.url }}/assets/images/profile.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ siteMeta.url }}/" />
    <meta property="twitter:title" content="{{ siteMeta.author.name }}" />
    <meta property="twitter:description" content="{{ siteMeta.description }}" />
    <meta property="twitter:image" content="{{ siteMeta.url }}/assets/images/profile.png" />

    <!-- Icons -->
    <!-- Todo: https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs -->
    <link rel="manifest" href="manifest.json" />

    <!-- Preconnect to google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="./styles/homepage.css" />
  </head>

  <body>
    <div class="page-wrapper | homepage-container">
      {% include 'header' %}
      <div class="content-container">
        <main>
          <article class="body-font | about-me">
            {{ content }}
          </article>
        </main>
      </div>
      {% include 'footer' %}
    </div>
  </body>
</html>
