---
permalink: blog/index.html
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
    rel="alternate"
      href="/feed.xml"
      type="application/atom+xml"
      title="{{ siteMeta.author.name }}" />

    <!-- Primary Meta Tags -->
    <title>{{ siteMeta.author.name }}'s blog</title>
    <meta name="title" content="{{ siteMeta.author.name }}" />
    <meta name="description" content="{{ siteMeta.description }}" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ siteMeta.url }}/" />
    <meta property="og:title" content="{{ siteMeta.author.name }}" />
    <meta property="og:description" content="{{ siteMeta.description }}" />
    <meta property="og:image" content="{{ siteMeta.url }}/assets/images/profile.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ siteMeta.url }}/" />
    <meta property="twitter:title" content="{{ siteMeta.author.name }}" />
    <meta property="twitter:description" content="{{ siteMeta.description }}" />
    <meta property="twitter:image" content="{{ siteMeta.url }}/assets/images/profile.png" />

    <link rel="stylesheet" href="../styles/blog.css" />

    <!-- Analytics -->
    <script async src="https://cdn.splitbee.io/sb.js"></script>
  </head>

  <body>
    <div class="page-wrapper | blog-container">
      <header>
        <h1 class="lowercase | heading-font | title">arpit's blog</h1>
      </header>
      <div class="content-container">
        <main>
          <article class="flow | body-font | about-me">
            <ul class="flow | posts">
              {% for post in collections.posts reversed %}
                <li class="post">
                  {% if post.data.meta.hindiTitle %}
                    <span class="heading-font | post-title">
                      <a href="{{ post.url }}">{{ post.data.title }}</a>
                    </span>
                  {% else %}
                    {% if post.data.externalLink %}
                      <span class="lowercase | heading-font | post-title">
                        <a href="{{ post.data.externalLink }}">{{ post.data.title }}</a>
                      </span>
                    {% else %}
                      <span class="lowercase | heading-font | post-title">
                        <a href="{{ post.url }}">{{ post.data.title }}</a>
                      </span>
                    {% endif %}
                  {% endif %}
                  <div class="lowercase | post-date">
                    {{ post.date | date: '%b %Y' }}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </article>
        </main>
        <nav>
          {% for item in siteMeta.navbarDataBlog %}
            <a href="{{ item.url }}" class="heading-font | nav-item">{{ item.text }}</a>
          {% endfor %}
        </nav>
      </div>
      <footer>{% include 'social-links' %}</footer>
    </div>
  </body>
</html>